.max-border {
  background-color: #f9f9f8;
  min-width: 100%;
  height: 100vh;
}

.play-now {
  height: 30px;
}

.display {
  text-align: center;
}

.display p {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  text-decoration: none solid rgb(74, 74, 74);
  display: inline-block;
  padding: 0 10px;
}

.back {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 10px 40px;
}

.back div {
  top: 11px;
  left: 0;
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px rgb(216, 216, 216);
  transition: transform 400ms 0s cubic-bezier(0.2, 0, 0, 1.6);
}

.back div::after {
  top: 0;
  left: 0;
  content: "";
  width: 90px;
  height: 60px;
  position: absolute;
  background-position: -10px -10px;
  background-size: 10rem;
  background-image: url("https://s3-eu-west-1.amazonaws.com/thomascullen-codepen/back.svg");
  transition: transform 400ms 0s cubic-bezier(0.2, 0, 0, 1);
}

.top-heading {
  height: 50px;
  display: block;
}

.up-vote i,
.down-vote i {
  position: relative;
  display: inline-block;
  font-size: 5.5vh;
  margin-left:20px;
}

.up-vote i {
  margin-top: 1.3rem;
}

.up-vote {
  right: 3rem;
}

.down-vote {
  left: 3rem;
}

.up-vote:hover {
  transition: 0.5s;
  color: white;
  background-color: #73c294;
}

.down-vote:hover {
  transition: 1s;
  color: white;
  background-color: #f8707b;
}

.down-vote i {
  margin-top: 1.3rem;
}

.up-vote,
.down-vote {
  position:relative;
  color: rgb(87, 80, 80);
  cursor: pointer;
  margin-top: -5vh;
  position: absolute;
  border: solid 1px rgb(202, 202, 202);
  box-shadow: 0px 0px 15px 2px rgb(216, 216, 216);
  border-radius: 5rem;
  width: 5rem;
  height: 4.75rem;
  border-radius: 1;
}

.review-step {
  margin-top: 14vh;
}

.video-play-button2 {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button2:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: rgb(193, 255, 244);
  border-radius: 50%;
}

.video-play-button2:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 10px #cadbef;
  transition: 700ms;
}

.video-play-button2 span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 33px solid #59cbb7;
  border-top: 20px solid transparent;
  border-bottom: 22px solid transparent;
  transition: 700ms;
}

.listenicon{
  color:#59cbb7;
  left:10px;
  top:1px;
  position:relative;
  font-size:2rem;
  visibility:visible;
}

.listenicon.active{
  visibility:hidden;
}

.activelisten{
  width:6rem;
  height:2.75rem;
  border:1px solid rgb(187, 187, 187);
  box-shadow:0 0 10px 1px rgb(196, 196, 196);
  border-radius:2rem;
}

.activelisten.active{
  border:0px;
  box-shadow:0 0 0 0 ;
  border-radius:0rem;
}

.listenno{
  width:36px;
  height:36px;
  border-radius:18px;
  text-align:center;
  font-size:1.5rem;
  background:rgb(201, 196, 196);
  font-family: "Zilla Slab", serif;
  display:inline-block;
  left:15px;
  position:relative;
}

.listenno.active{
  background:white;
}

@media (max-width: 767.98px) { 
  .no-of-tasks{
    visibility: hidden;
  }
  .taskmarking{
    display: block;
  }
  .activelisten{
    border:none;
    box-shadow: none;
    display: inline-block!important;
    zoom: 1; /* Trigger hasLayout */
    width: 20%;
    text-align: center;
  }
  .activelisten.active{
    visibility: visible;
  }
  .listenicon{
    display: none;
  }
  
}