.cont-border{
    overflow-x: hidden;
    min-width:100%;
    padding:0;
}

.event-head-stats{
    margin:5vh 0 5vh 0 ;
    color:rgb(73, 71, 71);
    font-family:"Open Sans";
    font-size:3.5rem;
    padding-bottom:1rem;
    border-bottom:2px solid rgb(110, 110, 110,0.4)
}

.stats-display{
    margin-top: 3vh;
    min-width:100%;
    padding:0;
    border: 2px solid rgb(206, 202, 202);
    border-radius: 0.5rem;
    padding: 3rem;
}

.stat-grid-trans,.stat-grid-review{
    height:25vh;
    border : 2px solid rgb(207, 206, 206);
    border-radius : 0.5rem;
    margin-top:1vh;
}

.stat-grid-review{
    border : 2px solid rgb(207, 206, 206);
    border-radius : 0.5rem;
}

.play-stat,.task-action{
    font-size:3rem;
    text-align: center;
}

.play-audio-trans{
    color :#D075D1; 
    margin-top:100%;
}

.play-audio{
    color :#59CBB7; 
    margin-top:100%;
}

.button-stat{
    margin:30px;
}

.button-col{
    text-align:center;
}

.delete-stat, .retake-stat{
    margin: 0.75em;
    font-size: 2.5rem;
    display: block;
    cursor: pointer;
}

.delete-stat:hover{
    color: rgb(228, 80, 80);
}

.retake-stat:hover{
    color: olivedrab;
}

.ant-card-meta-description {
    color: black;
    font-weight: 500;
}