.text-container {
  padding: 30px 30px 30px 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px 1px rgb(233, 228, 228);
  background-color: white;
  width: 50vw;
  height: 45vh;
}

.text-container-parallel{
  padding: 30px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px 1px rgb(233, 228, 228);
  background-color: white;
  width: 30vw;
  height: 45vh;
}

.text-container-parallel h1 {
  line-height: 1.5em;
  font-size: 2.5vw;
  font-family: "Open Sans", sans-serif;
}

.text-container h1 {
  line-height: 1.5em;
  font-size: 2.5vw;
  font-family: "Open Sans", sans-serif;
}

.textinput{
  position:relative;
  height:30vh!important;
}

@media (min-width: 300px) and (max-width: 445.98px) {
  .text-container {
    padding: 20px 20px 20px 20px;
    width: 75vw;
    height: 39vh;
  }

  .text-container h1 {
    font-size: 3.25vh;
  }
}

@media (min-width: 446px) and (max-width: 999.98px) {
  .text-container {
    padding: 30px 30px 30px 30px;
    width: 75vw;
    height: 45vh;
  }

  .text-container h1 {
    font-size: 4vh;
  }
}
