.contain-height{
    max-width:100%!important;
}

.event-head{
    margin:5vh 0 5vh 5vw ;
    color:rgb(73, 71, 71);
    font-family:"Open Sans";
    font-size:3.5rem;
    padding-bottom:1rem;
    border-bottom:2px solid rgb(110, 110, 110,0.4)
}

.campaigns{
    margin-left:auto;
    margin-right:auto;
}

.campaign-col{
    padding-bottom: 5vh;
}

.con-border{
    min-width:98%;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    margin-top:1rem;
    border-radius:10px;
    box-shadow: 0 0 10px 1px rgb(231, 226, 226);
}

.campaignDes{
    min-width:95%;
    margin:0;
}

.campImg{
    height:25rem;
}

.pad-col{
    padding:0;
}

.campaigndetails{
    margin-top:2rem;
}

.loader{
    margin-left:40%;
    margin-right:40%;
}