.contain-height {
  max-width: 100% !important;
}

.event-head {
  margin: 5vh 0 5vh 5vw;
  color: rgb(73, 71, 71);
  font-family: "Open Sans";
  font-size: 3.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(110, 110, 110, 0.4);
}

.campaigns {
  margin-left: auto;
  margin-right: auto;
}

.campaign-col {
  padding-bottom: 5vh;
}

.con-border {
  min-width: 90%;
  border: 2px solid lightgrey;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgb(231, 226, 226);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.description-col {
  padding: 1rem;
}

.campImg {
  height: 25rem;
}

.pad-col {
  padding: 0;
}

.loader {
  margin-left: 50vw;
  margin-right: 50vw;
}

.campaignspeakdesp {
  width: 100%;
  height: auto;
}

.campdesc {
  margin-top: 3rem;
}

.camptitle {
  font-size: 3rem;
}

.campsubtitle {
  font-size: 1.5rem;
  color: grey;
}

.longdesc {
  padding: 2rem 5rem 2rem 5rem;
}

.shortdesc {
  height: 5rem;
  overflow-y: auto;
}

.shortdesc::-webkit-scrollbar {
  width: 3px;
}

.shortdesc::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.shortdesc::-webkit-scrollbar-thumb {
  background: #888;
}

.shortdesc::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 767.98px) {
  .loader {
    margin-left: 40%;
    margin-right: 40%;
  }
}
