.border-max {
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #b1b1b1;
  max-width: 90%;
  transition: 1s;
  max-height: 200px;
  border: 1px solid rgb(218, 212, 212);
}

.border-max h1 {
  font-family: "Zilla Slab", serif;
  font-size: 64px;
  font-weight: 400;
}

.border-max h3 {
  font-family: "Zilla Slab", serif;
  font-size: 27px;
  font-weight: 400;
}

.information h6 {
  font-family: "Zilla Slab", serif;
  color: #959595;
  font-size: 24px;
  font-weight: 400;
}

.text {
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.col {
  text-align: center;
}

.task-information {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5vw;
  text-align: left;
}

.task-action {
  display: block;
}

.col h1 {
  display: inline;
}

.video-play-button {
  text-decoration: none !important;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: rgb(193, 255, 244);
  border-radius: 50%;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 10px #cadbef;
  transition: 700ms;
}

.video-play-mic:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 10px #f6b3ba;
  transition: 700ms;
}

.border-max:hover .video-play-button:after {
  transition: 700ms;
  background: #59cbb7;
}

.border-max:hover .video-play-mic:after {
  transition: 700ms;
  background: #ff4f5e;
}

.border-max:hover .video-play-mic i {
  transition: 700ms;
  color: #ffffff;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 33px solid #59cbb7;
  border-top: 20px solid transparent;
  border-bottom: 22px solid transparent;
  transition: 700ms;
}

.video-play-button i {
  font-size: 3rem;
  left: -35%;
  color: #ff4f5e;
  display: block;
  position: relative;
  z-index: 3;
}

.border-max:hover .video-play-button span {
  transition: 700ms;
  border-left: 33px solid #fff;
}

.listen-task {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../img/wave1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0;
  background-position-y: 20%;
  transition: 1s;
}

.listen-task:hover {
  background: url("../../img/wave1.svg");
  animation: pulse-border 700ms ease-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0;
  background-position-y: 40%;
}

.speak-task {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../img/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0;
  background-position-y: 20%;
  transition: 1s;
}

.speak-task:hover {
  background: url("../../img/wave.svg");
  animation: pulse-border 700ms ease-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0;
  background-position-y: 40%;
}

.grid-tasks {
  margin-bottom: 5vh;
  height: 25vh;
  border-radius: 1vh;
  box-shadow: 0px 0px 8px 2px rgb(226, 226, 226);
  background-color: white;
}

.Tasks {
  margin-left:auto;
  margin-right:auto;
  font-size:10vh;
  font-family: "Zilla Slab", serif;
  font-weight:400;
}

@keyframes pulse-border {
  0% {
    background-position-x: 0;
    background-position-y: 20%;
  }
  100% {
    background-position-x: 0;
    background-position-y: 40%;
  }
}
