.submit{
    position:relative;
    width:100px;
    height:50px;
    background:#fff;
    top:-3vh;
    border-radius:4vw;
    border:1px solid rgb(196, 196, 196);
    box-shadow:0 0 10px 2px rgb(212, 206, 206);
}

.submit h5{
    cursor: pointer;
    position:relative;
    font-family: "Zilla Slab", serif;
    font-size:1.5rem;
    text-align:center;
    top:9px;
}

.textclick{
    margin-top:11vh;
}

.display{
    padding-top:3vh;
}

@media (max-width: 576px) { 
    .submit{
        left:-5vh;
    } 
}