.profile-col {
  text-align: center;
  border-right: 2px solid rgb(212, 212, 212);
  margin-top:3rem;
}

.profile {
  position: relative;
  width: 175px;
  height: 175px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 2px solid #fff;
  overflow: hidden;
  background: #e8e9eb;
  margin-left:auto;
  margin-right:auto;
}

.status-col{
    margin-top:3rem;
}

.ant-badge{
  width:100%;
}

.ant-scroll-num{
  left:-10rem;
}