.video-play-button1 {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button1:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: rgb(193, 255, 244);
  border-radius: 50%;
}

.video-play-button1:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 10px #f6b3ba;
  transition: 700ms;
}

.video-play-button1:hover {
  box-shadow: 0px 0px 14px 7px #ee7c87;
}

.video-play-button1 i#mic {
  display:none!important;
  font-size: 3rem;
  left: -35%;
  color: #ff4f5e;
  display: block;
  position: relative;
  z-index: 3;
}

i#mic.active{
  display:block!important;
  font-size: 3rem;
  left: -35%;
  color: #ff4f5e;
  display: block;
  position: relative;
  z-index: 3;
}

#pause{
  display:block;
  font-size: 3rem;
  left: -35%;
  color: #ff4f5e;
  display: block;
  position: relative;
  z-index: 3;
}

#pause.active{
  display:none;
}

.video-play-button1:hover:after {
  transition: 500ms;
  background: #ff4f5e;
}

.video-play-button1:hover i#mic {
  transition: 700ms;
  color: #ffffff;
}

.video-play-button1:hover i#pause {
  transition: 700ms;
  color: #ffffff;
}

.activespeak{
  width:6rem;
  height:2.75rem;
  border:1px solid rgb(187, 187, 187);
  box-shadow:0 0 10px 1px rgb(196, 196, 196);
  border-radius:2rem;
}

.speakicon{
  color:#ff4f5e;
  left:5px;
  position:relative;
  font-size:2.5rem;
  visibility:visible;
}

.no-of-tasks{
  font-family: "Zilla Slab", serif;
  font-size:1.5rem;
}

.taskno{
  width:36px;
  height:36px;
  border-radius:18px;
  text-align:center;
  font-size:1.5rem;
  background:rgb(201, 196, 196);
  font-family: "Zilla Slab", serif;
  display:inline-block;
  top:-11px;
  left:10px;
  position:relative;
}

.speakicon.active{
  visibility:hidden;
}

.activespeak.active{
  border:0px;
  box-shadow:0 0 0 0 ;
  border-radius:0rem;
}

.taskno.active{
  background:white;
}